.success-modal-subheader-styles {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;

    color: var(--ion-font-color-primary);
}

.button-text {
    font-family: "Inter";
    font-style: normal;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--ion-font-color-primary) !important;
}