ion-content {
    --background: #ecebe6 !important;
}

.image {
    justify-content: flex-end !important;
    display: flex !important;
  }
  .img-icon {
    font-size: x-large !important;
    position: absolute !important;
  }