<ion-header class="margin-bottom-minus-1">
  <ion-toolbar color="primary">
    <ion-buttons slot="{{transService.getCurrentDirection()==='rtl'? 'end':'start'}}">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [ngClass]="{'padding-0': transService.getCurrentDirection()==='ltr'}">
      {{transService.getTranslatedData('Profile')}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Profile Modal -->
<ion-content class="full-width grey-back max-available-height">
  <div class="{{app === 'com.aqaraty.fm' ? 'profile-cover-head-aqaraty' : (app === 'com.eLocal.business' ? 'profile-cover-head-elocal' : 'profile-cover-head')}}">
    <!-- Place to add the heading-->
    <div class="profile-main-head center-text">
      <b>
        <span class="  float-right font-weight-600" [ngClass]="{'txt-white': app!=='com.aqaraty.fm'}"
          (click)="onLogoutClick()">{{transService.getTranslatedData('Logout')}}</span>
      </b>
    </div>
    <!-- Name of the PM -->
    <div class="center-text">
      <h4 class=" font-weight-600  " [ngClass]="{'txt-white': app!=='com.aqaraty.fm'}">{{data.firstName}}
        {{data.lastName}}</h4>
    </div>
    <div class="profile-pic margin-top-10 center-text">
      <img class="img-circle" src="assets/placeholder-person.jpg" height="120" width="120">
    </div>

  </div>
  <ion-list class="padding-top-0">
    <ion-header no-border class=" grey-back">
      <ion-title class="center-text gotham padding-bottom-10 padding-top-10 ">
        {{transService.getTranslatedData('Contact Information')}}</ion-title>
    </ion-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <p class=" font-14 gotham">{{transService.getTranslatedData('Phone Number :')}}</p>
          </ion-col>
          <ion-col size="7">
            <p class=" font-14 gotham">{{(data.phoneNumber)}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4.8">
            <p class=" font-14 gotham">{{transService.getTranslatedData('Email :')}}</p>
          </ion-col>
          <ion-col size="7.2">
            <p class=" font-14 gotham">{{data.email}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-header no-border class="padding-top-bottom-10 grey-back">
      <ion-title class="center-text gotham ">{{transService.getTranslatedData('Personal Information')}}
      </ion-title>
    </ion-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4.8">
            <p class=" font-14 gotham">{{transService.getTranslatedData('D.O.B :')}}</p>
          </ion-col>
          <ion-col size="7.2">
            <p class=" font-14 gotham">{{data.dob|date:'dd/MMM/yyyy'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4.8">
            <p class=" font-14 gotham">{{transService.getTranslatedData('Gender :')}}</p>
          </ion-col>
          <ion-col size="7.2">
            <p class=" font-14 gotham">{{data.gender}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4.8">
            <p class=" font-14 gotham">{{transService.getTranslatedData('Address :')}}</p>
          </ion-col>
          <ion-col size="7.2">
            <p><span class=" font-14 gotham">{{data.address}}</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-header no-border class="padding-top-bottom-10 grey-back">
      <ion-title class="center-text gotham ">{{transService.getTranslatedData('Bank Information')}}</ion-title>
    </ion-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4.8">
            <p class=" font-14 gotham">{{transService.getTranslatedData('Account Number :')}}</p>
          </ion-col>
          <ion-col size="7.2">
            <p class="font-14 gotham" *ngIf="data.bankAccount?.number">{{transService.arabic(data.bankAccount.number)}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4.8">
            <p class=" font-14 gotham">{{transService.getTranslatedData('IFSC :')}}</p>
          </ion-col>
          <ion-col size="7.2">
            <p class=" font-14 gotham" *ngIf="data.ifsc">{{transService.arabic(data.ifsc)}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>