
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="{{transService.getCurrentDirection()==='rtl'? 'end':'start'}}">
      <ion-button (click)="closeModal()"><ion-icon class="icon-25" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="{{transService.getCurrentDirection()==='rtl'?'':'padding-left-0'}}">
      {{transService.getTranslatedData('Summary')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-16 bg-white">
    <ion-label class="gotham-medium">{{transService.getTranslatedData('Summary')}}</ion-label>
    <p class="gotham txt-slate-grey font-14 line-height-18 margin-bottom-0">{{transService.getTranslatedData('Here is your Check-in Report at a glance. Kindly confirm to continue.')}}</p>
  </div>


  <div *ngIf="rejectItems.length > 0" class="padding-left-16 padding-right-16 padding-top-16 bg-white border-top-1-light-grey">
    <div class="display-flex align-items-center margin-bottom-20">
      <ion-icon name="close-circle-outline" color="danger" class="icon-15 margin-right-5"></ion-icon>
      <ion-label class="gotham font-16">
        <span class="gotham">{{rejectItems.length}}</span>
        {{transService.getTranslatedData('items not accepted')}}
      </ion-label>
    </div>
    <ion-list *ngIf="rejectItems?.length > 0" class="padding-0">
      <ion-row *ngFor="let item of rejectItems" class="margin-bottom-15">
        <ion-col class="padding-0 gotham txt-slate-grey"><ion-label>{{transService.getTranslatedData(item.name)}}</ion-label></ion-col>
        <ion-col class="padding-0 display-flex align-items-center justify-end justify-flex-end gotham txt-slate-grey text-align-end" >
          <a class="underline-text " *ngIf="item.handover?.files.length > 0" (click)="viewPhoto(item?.images || item?.handover?.files)"> {{transService.getTranslatedData('View Photo')}}</a>
          <ion-icon (click)="edit(item)" class="margin-left-10 icon-20" name="create"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
  <div *ngIf="acceptWithDefectItems.length > 0" class="padding-left-16 padding-right-16 padding-top-16 bg-white border-top-1-light-grey">
    <div class="display-flex align-items-center margin-bottom-20">
      <ion-icon name="checkmark-circle" color="warning" class="icon-15 margin-right-5"></ion-icon>
      <ion-label class="gotham font-16">
        <span class="gotham">{{acceptWithDefectItems.length}}</span>
        {{transService.getTranslatedData('Accepted with defect')}}
      </ion-label>
    </div>
    <ion-list *ngIf="acceptWithDefectItems?.length > 0" class="padding-0">
      <ion-row *ngFor="let item of acceptWithDefectItems" class="margin-bottom-15">
        <ion-col class="padding-0 gotham txt-slate-grey"><ion-label>{{transService.getTranslatedData(item.name)}}</ion-label></ion-col>
        <ion-col class="padding-0 gotham display-flex align-items-center justify-end justify-flex-end txt-slate-grey text-align-end" >
          <a class="underline-text " *ngIf="item.handover?.files.length > 0" (click)="viewPhoto(item?.images)"> {{transService.getTranslatedData('View Photo')}}</a>
          <ion-icon (click)="edit(item)" class="margin-left-10 icon-20" name="create"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
  <div *ngIf="acceptItems.length > 0" class="padding-left-16 padding-right-16 padding-top-16 bg-white border-top-1-light-grey">
    <div class="display-flex align-items-center margin-bottom-20">
      <ion-icon name="checkmark-circle" color="success" class="icon-15 margin-right-5"></ion-icon>
      <ion-label class="gotham font-16">
        <span class="gotham">{{acceptItems.length}}</span>
        {{transService.getTranslatedData('items are accepted')}}
      </ion-label>
    </div>
    <ion-list *ngIf="acceptItems?.length > 0" class="padding-0">
      <ion-row *ngFor="let item of acceptItems" class="margin-bottom-15">
        <ion-col class="padding-0 gotham txt-slate-grey"><ion-label>{{transService.getTranslatedData(item.name)}}</ion-label></ion-col>
        <ion-col class="padding-0 display-flex align-items-center justify-end justify-flex-end gotham txt-slate-grey text-align-end" >
          <a class="underline-text " *ngIf="item.handover?.files.length > 0" (click)="viewPhoto(item?.images)"> {{transService.getTranslatedData('View Photo')}}</a>
          <ion-icon (click)="edit(item)" class="margin-left-10 icon-20" name="create"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-row class="justify-center margin-top-20">
      <ion-button [hidden]="type==='checkout_pending'" class="full-width text-transform-math-auto height-50 font-16  margin-bottom-20" (click)="sign()">
        {{transService.getTranslatedData('Confirm & sign')}}
      </ion-button>
      <ion-button [hidden]="type!='checkout_pending'" class="full-width text-transform-math-auto height-50 font-16  margin-bottom-20" (click)="routeToInvoices()">
        {{transService.getTranslatedData('Confirm')}}
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>