// ion-content {
//     --background: #ecebe6 !important;
//   }

.end-line{
  width: 100vw !important;
  border-top: 10px solid #ecebe6 !important;
}

#termsAndCondition > ol {
  padding: 16px !important;
}

.padding-start-end-button {
  --padding-start: 5px !important;
  --padding-end: 5px !important;
}