<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-icon slot="start" name="refresh"></ion-icon>{{transService.getTranslatedData('Reset')}}
      </ion-button>
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{transService.getTranslatedData('Filter')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid fixed>
      <ion-list-header class="font-17">{{transService.getTranslatedData('Approval Status')}}
      </ion-list-header>
      <ion-row>

        <ion-col class="padding-left-10">

          <ion-chip [ngClass]="workPermitFilter.approvalStatus.indexOf('open') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('approvalStatus', 'open')">
            <ion-label class="font-16 font-weight-500">{{transService.getTranslatedData('Open')}}
            </ion-label>
          </ion-chip>

          <ion-chip [ngClass]="workPermitFilter.approvalStatus.indexOf('in-progress') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('approvalStatus', 'in-progress')">
            <ion-label class="font-16 font-weight-500">
              {{transService.getTranslatedData('In Progress')}}</ion-label>
          </ion-chip>

          <ion-chip [ngClass]="workPermitFilter.approvalStatus.indexOf('approved') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('approvalStatus', 'approved')">
            <ion-label class="font-16 font-weight-500">
              {{transService.getTranslatedData('Approved')}}</ion-label>
          </ion-chip>

          <ion-chip [ngClass]="workPermitFilter.approvalStatus.indexOf('rejected') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('approvalStatus', 'rejected')">
            <ion-label class="font-16 font-weight-500">
              {{transService.getTranslatedData('Rejected')}}</ion-label>
          </ion-chip>

        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid fixed>
      <ion-list-header class="font-17">{{transService.getTranslatedData('Work Status')}}
      </ion-list-header>
      <ion-row>

        <ion-col class="padding-left-10">

          <ion-chip [ngClass]="workPermitFilter.workStatus.indexOf('not-started') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('workStatus', 'not-started')">
            <ion-label class="font-16 font-weight-500">{{transService.getTranslatedData('Not Started')}}
            </ion-label>
          </ion-chip>

          <ion-chip [ngClass]="workPermitFilter.workStatus.indexOf('on-going') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('workStatus','on-going')">
            <ion-label class="font-16 font-weight-500">
              {{transService.getTranslatedData('On Going')}}</ion-label>
          </ion-chip>

          <ion-chip [ngClass]="workPermitFilter.workStatus.indexOf('on-hold') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('workStatus', 'on-hold')">
            <ion-label class="font-16 font-weight-500">
              {{transService.getTranslatedData('On Hold')}}</ion-label>
          </ion-chip>

          <ion-chip [ngClass]="workPermitFilter.workStatus.indexOf('completed') != -1 ? 'selected' : 'a'" outline="true"
            color="primary" (click)="selectWorkPermitStatus('workStatus','completed')">
            <ion-label class="font-16 font-weight-500">
              {{transService.getTranslatedData('Completed')}}</ion-label>
          </ion-chip>

        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">
        {{transService.getTranslatedData('SEARCH BY WORK PERMIT ID')}}
      </ion-list-header>
      <ion-item>
        <ion-input [(ngModel)]="workPermitFilter.searchText" inputmode="text" placeholder="{{transService.getTranslatedData('Search here')}}">
        </ion-input>
      </ion-item>
    </ion-list>

    <!-- <ion-searchbar [(ngModel)]="filterData.searchText" placeholder="Search here.."
    (ngModelChange)="resetFilterAndSearch($event)">
  </ion-searchbar> -->

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">
        {{transService.getTranslatedData('TENANT')}}
      </ion-list-header>
      <ion-item (click)="openModal('tenants')" class="ion-padding-start-0">
        <ion-label class="gotham margin-left-16" [ngClass]="{'txt-slate-grey': !tenantSelectedText}">
          {{tenantSelectedText ? tenantSelectedText : transService.getTranslatedData('Click here to select a tenant')}}
        </ion-label>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">
        {{transService.getTranslatedData('UNIT')}}
      </ion-list-header>
      <ion-item (click)="openModal('unit')" class="ion-padding-start-0">
        <ion-label class="gotham margin-left-16" [ngClass]="{'txt-slate-grey': !listingsSelectedText}">
          {{listingsSelectedText ? listingsSelectedText : transService.getTranslatedData('Click here to select a unit')}}
        </ion-label>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">
        {{transService.getTranslatedData('WORK START DATE')}}
      </ion-list-header>
      <ion-item>
        <ion-datetime displayFormat="DD-MMMM-YYYY" placeholder="{{transService.getTranslatedData('DD-MMM-YYYY')}}"
          picker-format="DD-MMMM-YYYY" class=" padding-0" [(ngModel)]="workPermitFilter.workStartDate"
          [doneText]="transService.getTranslatedData('Done')"
          [cancelText]="transService.getTranslatedData('Cancel')">
        </ion-datetime>
        <ion-icon slot="end" name="arrow-dropdown" class="margin-top-0"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">
        {{transService.getTranslatedData('WORK END DATE')}}
      </ion-list-header>
      <ion-item>
        <ion-datetime displayFormat="DD-MMMM-YYYY" placeholder="{{transService.getTranslatedData('DD-MMM-YYYY')}}"
          picker-format="DD-MMMM-YYYY" class=" padding-0" [(ngModel)]="workPermitFilter.workEndDate"
          [doneText]="transService.getTranslatedData('Done')"
          [cancelText]="transService.getTranslatedData('Cancel')">
        </ion-datetime>
        <ion-icon slot="end" name="arrow-dropdown" class="margin-top-0"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">
        {{transService.getTranslatedData('CREATED DATE')}}
      </ion-list-header>
      <ion-item>

        <ion-datetime displayFormat="DD-MMMM-YYYY" placeholder="{{transService.getTranslatedData('DD-MMM-YYYY')}}"
          picker-format="DD-MMMM-YYYY" class=" padding-0" [(ngModel)]="workPermitFilter.createdDate"
          [doneText]="transService.getTranslatedData('Done')"
          [cancelText]="transService.getTranslatedData('Cancel')">
        </ion-datetime>
        <ion-icon slot="end" name="arrow-dropdown" class="margin-top-0"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-button size="large" (click)="apply()" color="danger">
  {{transService.getTranslatedData('APPLY')}}</ion-button>
