ion-content {
    --background: #ecebe6 !important;
}

.date-chip {
    background-color: var(--ion-date-bg-color);
    border: 1.5px solid var(--ion-color-secondary);
    border-radius: 5px;
    font-family: "Gotham-Medium" !important;
    padding: 0 15px !important;
}

.today-chip{
    border: 1.5px solid rgb(211, 206, 206) !important;
    border-radius: 5px;
    font-family: "Gotham-Medium" !important;
    padding: 0 15px !important;
}

.rejected-chip{
    padding: 0 10px !important;
    border-radius: 5px;
}

.ion-button{
    --inner-padding-bottom: 0px !important;
    --inner-padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    --inner-padding-top: 0px !important;
    --padding-bottom: 0px !important;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    --padding-top: 0px !important;
}